nav {
    background: #247BA0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 1px 2px 2px #999;
}

.logo {
    margin: 5px;
    font-size: 2em;
    color: #f2f2f2;
}

.origin {
    font-size: 2em;
}

.input {
    text-align: left;
    border-radius: 5px;
    border-style: hidden;
    padding: 5px;
}

.button {
    border-radius: 5px;
    border: 0;
}

.button:focus {
    outline: 0;
}

.border-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.active {
    background: #247BA0;
    color: white;
}

.profileheading > hr {
    width: 100%;
    margin: 3% 0;
}

.btn-group {
    margin: 2% auto;
    width: 100%;
    text-align: center;
}

.imagePreview {
    width: 40px;
    border-radius: 100%;
    margin: 0 20%;
}

.profilePreview {
    flex: 1;
}

.smallText {
    font-size: 0.8em;
    font-weight: 800;
}

.inputWithIcon input[type=text] {
    padding-left: 30px;
}

.inputWithIcon {
    position: relative;
}

.iconElement {
    position: absolute;
    top: 7px;
    left: 8px;
}

.input:focus {
    border:1px solid #247BA0;
    outline: 0;
}

.boxBox {
    text-align: center;
}

.smallLetters {
    font-size: 0.7em;
}

nav > h2 {
    font-size: 1.5em;
    padding: 0 1%;
}

.navigation {
    list-style-type: none;
    margin: 0;
}

.listContainer {
    margin: 5%;
}

.navigation > ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.navLink {
    color: #f2f2f2;
}

.navigation > a:hover {
    color: white;
}
.navigation > ul > a:hover {
    color: white;
}
.navigation > a:focus {
    color: white;
    text-decoration: none;
}
.navigation > ul > a:focus {
    color: white;
    text-decoration: none;
}

.navBox {
    padding: 25px;
    font-size: 1.3em;
}

.navigation > ul > li {
    padding: 10px;
}

nav > div > ul > div > li {
    padding: 20px;
}

.navButton {
    background: #ffffff;
    font-size: 1em;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.infoContainer > h1 {
    padding: 0;
    margin: 0;
}

.profileContainer > h3,h1 {
    margin: 0;
    padding: 0;
}

.notShow {
    display: none;
}

@media (max-width: 460px) {
    .navLink {
        font-size: 1.3em;
    }
    .logo {
        margin: 0;
        padding: 10px;
        background: #247BA0;
        color: white;
    }
    nav {
        background: #247BA0;
    }
    .navBox {
        padding: 30px 15px;
        font-size: 0.8em;
        background: #247BA0;
        color: white;
    }
    .button {
        width: 50%;
    }
}