nav {
    background: #444;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav > h2 {
    font-size: 1.5em;
    padding: 0 1%;
}

.navigation {
    list-style-type: none;
    margin: 0;
}

.navigation > ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.navLink {
    color: white;
}

.navBox {
    padding: 20px;
}

.navigation > ul > li {
    padding: 10px;
}

nav > div > ul > div > li {
    padding: 20px;
}

.navButton {
    background: #ffffff;
    font-size: 1em;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.infoContainer > h1 {
    padding: 0;
    margin: 0;
}

.profileContainer > h3,h1 {
    margin: 0;
    padding: 0;
}

.smallLogo {
    display: none;
}

@media (max-width: 460px) {
    .navLink {
        font-size: 1.3em;
    }
    .smallLogo {
        display: block;
        padding: 20px;
        margin: 0;
    }
    .logo {
        display: none;
    }
}