.appHome {
    background: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgb(36, 123, 160, 0.4),
        rgba(255, 255, 255, 0.9),
        rgb(36, 123, 160, 0.4)
      );
}

.heroSection {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5% 5%;
}

.titleSection {
    flex: 1;
}

.mockupSection {
    flex: 1;
}

.mockup {
    float: none;
    width: 100%;
}

.main {
    min-height: 100vh;
}

.titleContainer > hr {
    width: 20%;
    margin: 1% auto;
}

.headingSection {
    margin: 30% 10%;
    width: 100%;
}

.tutorialSection {
    width: 100%;
}

.section {
    display: flex;
}

.step {
    flex: 1;
    padding: 6% 0;
}

.clip {
    padding: 2%;
    width: 50%;
    margin: 10% auto;
    flex: 2;
}

.step > div > h6 {
    text-align: center;
}

.number {
    border: 3px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 2em;
    padding: 15px;
    width: 80px;
    height: 80px;
    margin: 40px auto 0 auto;
    color: white;
}

.scrollButton {
    margin: 2%;
    background: #92AD94;
    color: #eee;
}

.scrollButton:hover {
    color: white;
}

.scrollButton:focus {
    color: white;
    outline: none;
}
.scrollButton:active {
    color: white;
    outline: none;
}

footer {
    background: black;
}

footer > ul {
    display: flex;
    list-style-type: none;
    color:  ;
}

footer > ul > li {
    padding: 10px; 
    color: #92AD94;
}

footer a {
    color: #92AD94;
}

@media (max-width: 768px){
    .heroSection {
        display: block;
    }
    .headingSection {
        margin: 0;
        padding: 15%;
        text-align: center;
    }
    .mockup {
        width: 100%;
    }
    .section {
        display: block;
    }
    .clip {
        width: 90%
    }
    .tutorialSection {
        margin: 15% 0 5% 0;
    }
}
