.appHome {
    background: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgb(36, 123, 160, 0.4)
      );
}

.heroSection {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.titleSection {
    flex: 1;
}

.mockupSection {
    flex: 1;
}

.mockup {
    float: none;
    width: 90%;
}

.headingSection {
    margin: 30% 10%;
    width: 100%;
}

.tutorialSection {
    width: 100%;
}

.section {
    display: flex;
}

.step {
    flex: 1;
    padding: 6% 0;
}

.clip {
    padding: 2%;
    width: 50%;
    margin: 0 auto;
    flex: 1;
}

.step > div > h6 {
    text-align: center;
}

.number {
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 2em;
    padding: 15px;
    width: 80px;
    height: 80px;
    margin: 40px auto 0 auto;
    color: #f2f2f2;
}
