.app {
  font-family: 'Montserrat', sans-serif;
  background: #eee;
  color: #247BA0;}

.main {
  display: flex;
}

.content {
  flex: 1;
  margin: 3%;
}

.side {
  width: 200px;
  background: #247BA0;
  box-shadow: -1px 2px 1px 1px #999;
}

.list-group-item {
  background-color: #f4f4f4;
  box-shadow: 1px 1px 1px 1px #999;
  border: 0;
}

.heading {
  width: 80%;
  margin: 2% auto;
  text-align: center;
}

h3 {
  margin: 0;
}

.heading > .title {
  margin: 0;
  padding: 0;
}

.heading > hr {
  width: 2em;
  border-color: #666;
  margin: 1% auto;
}

.heading > .subtitle {
  color: #777;
  font-size: 1em;
}

a {
  cursor: pointer;
}

@media (max-width: 768px){
  .side {
      display: none;
  }
  .deleteButton {
    margin: 0 15px;
  }
}
@media (max-width: 420px){
  .heading {
      margin: 10% auto;
  }
  .deleteButton {
    margin: 0 15px;
    width: 30px;
  }
}

@media (max-width: 1100px){
  h3 {
    font-size: 1.2em;
  }
}
