.mainRow {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: #444;
}

.checkbox {
    width: 30px;
    height: 30px;
}

.issue {
    display: flex;
    justify-content: space-between;
}

.infoBox {
    flex: 1;
    display: flex;
}

.breadcrump {
    font-size: 1em;
    margin: 10px 0;
}

.breadcrump:hover {
    text-decoration: none;
}

img {
    display: inline;
}

.deleteButton {
    width: 5%;
    font-size: 1.5em;
    float: right;
    cursor: pointer;
}

.list {
    padding: 2%;
}

.articles {
    flex: 1;
}

.issues {
    flex: 1;
}

.practices {
    flex: 1;
}

.description {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
    transition: 0.5s;
}

.away {
   position: absolute;
   left: -1500px;
   display: none;
}

.there {
    position: relative;
    left: 0px;
}

h2 {
    text-align: center;
    padding: 3%;
}

h4 {
    padding: 5%;
}

.creationBar {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2%;
    background: #f2f2f2;
    margin: 0;
    transition: 1s;
    z-index: 5;
    box-shadow: 1px 1px 1px 1px #247BA0;
}

.browserHeading {
    display: flex;
    justify-content: space-between;
}

hr {
    width: 100%;
    border-color: #247BA0;
    margin: 1% 0;
}

.top-line {
    width: 70%;
    border-color: rgb(36, 123, 160, .3);
}

.slide {
    bottom: 0;
}

.creationContainer > input,textarea {
    margin: 0 2%;
    padding: 1%;
    height: 100%;
}

input.title {
    width: 20%;
}

input.description {
    width: 50%;
}

.creationContainer > .link {
    width: 50%;
}

.list-group > ul {
    padding: 0;
    width: 100%;
    display: inline-block;
}

.list-group-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.issueContainer {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-top: 2%;
}

img {
    width: 20%;
    float: right;
}

@media (max-width: 578px){
    .mainRow{
        display: block;
    }
    .list {
        margin: 10% 5%;
    }
    .deleteButton {
       width: 30px; 
    }
    .creationContainer > button {
        display: block;
        margin: 3% auto;
        width: 80%;
    }
    .creationContainer > input {
        display: block;
        margin: 3% auto;
        width: 80%;
        padding: 5%;

    }
}