.mainRow {
    display: flex;
    flex-wrap: wrap;
}

.list {
    border: 1px solid black;
    margin: 2%;
}

.articles {
    flex: 1;
}

.issues {
    flex: 2;
}

.description {
    flex: 1;
}

.projects {
    border: 1px solid black;
}

h2 {
    text-align: center;
    padding: 3%;
}

h4 {
    padding: 5%;
}

.creationBar {
    display: block;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2%;
    background: #444;
    margin: 0;
    transition: 1s;
}

.slide {
    bottom: 0;
}

.creationContainer > input,textarea {
    margin: 0 2%;
    padding: 1%;
    height: 100%;
}

input.title {
    width: 20%;
}

input.description {
    width: 50%;
}

.creationContainer > .link {
    width: 50%;
}

@media (max-width: 578px){
    .mainRow{
        display: block;
    }
    .list {
        margin: 10% 5%;
    }
    .creationBar {
        
    }
    .creationContainer > button {
        display: block;
        margin: 3% auto;
        width: 80%;
    }
    .creationContainer > input {
        display: block;
        margin: 3% auto;
        width: 80%;
        padding: 5%;

    }
}