.off {
    opacity: 0;
    z-index: -1;
}

.on {
    opacity: 1;
}

.background {
    opacity: 0.1;
}

.inputContainer {
    transition: 1s;
    position: fixed;
    top: 100px;
}

.wsPreview {
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    margin: 5%;
    padding: 1em;
}

a:hover {
    text-decoration: none;
}

.wsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
}

main {
    flex: 1;
}

@media (max-width: 768px){
    .wsPreview {
        border: 1px solid black;
        width: 100%;
        margin: 10%;
    }
}