.off {
    opacity: 0;
    z-index: -1;
}

.on {
    opacity: 1;
}

.background {
    opacity: 0.1;
}

.dontShow {
    display: none;
}

.inputContainer {
    transition: 1s;
    position: fixed;
    top: 100px;
}

.titlePreview {
    width: 100%;
    background: #f2f2f2;
    padding: 1em;
}

.profileheading > h1,h4 {
    text-align: center;
}

.descriptionPreview {
    padding: 1em;
}

.wsPreview {
    position: relative;
    display: inline-block;
    background: linear-gradient(
        rgba(255, 255, 255, 0.9),
        rgb(255, 255, 255, 0.4)
      );
    width: 20%;
    margin: 5%;
    box-shadow: 1px 1px 1px 1px #999;
}

a:hover {
    text-decoration: none;
}

.wsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
}

main {
    flex: 1;
}

.addButton {
    background: #999;
    display: inline-block;
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 100%;
    transition: 0.5s;
}

.addButton:hover {
    background: #549F93;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.addButton > a {
    font-size: 1.8em;
    color: white;
}

p {
    font-size: 0.8em;
}

@media (max-width: 768px){
    .wsPreview {
        width: 100%;
        margin: 10%;
    }
}