.icon {
    font-size: 2em;
    margin: 8px 10px 10px 10px;
    display: inline-block;
    transition: 0.3s;
}

.iconSmall {
    font-size: 1em;
    margin: 0 auto;
    display: inline-block;
    transition: 0.3s;
    text-align: right;
}

.iconSmall:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.editorContainer {
    margin: 5% auto;
    width: 70%;
}

.editor {
    width: 100%;
    font-family: monospace;
}

.titleBox {
    padding: 1%;
    text-transform: uppercase;
    flex: 1;
}

.descrBox {
    padding: 1%;
    flex: 2;
}

.icon:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

div > h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
}